body {
    margin: 0;
}

/* General css-classes */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}
.centered {
    align-items: center;
    justify-content: center;
}

/* Specific element classes */
header {
    width: 100%;
    height: 4rem;
    background: black;
    color: white;
}


h1 {
    margin: 0;
}

.container {
    margin: 2rem 0;
    flex-direction: column;
}

#runAway {
    display: block;
    display: none;
} 

#stayHere {
    display: block;
    display: none;
}